node_modules/
out/
obj/
bin/
generated/
*.log
.DS_Store
README-USING.md
Tailwind.config.js
Postcss.config.js
tsconfig.json
pcfconfig.json
FileUploadControl.zip
FileUploadControl-v1.0.zip
fs_FileUploaderUISolnV1/
FileUploadControl/css/GIT-tailwind.src.css
FileUploadControl/css/GIT-FileUploadControl.css
FileUploadControl/css/GIT-FileUploadControl-v1.0.css